/Ken/obj
/Ken/bin
/Ken.Model/obj
/Ken.Model/bin
/Ken.Service/obj
/Ken.Service/bin
/KenCore/obj
/KenCore/bin
/KenCore.EF/obj
/KenCore.EF/bin
/KenCore.Mongo/obj
/KenCore.Mongo/bin
/KenCore.Redis/obj
/KenCore.Redis/bin
/KenCore.Web/obj
/KenCore.Web/bin
/KenCoreTest/obj
/KenCoreTest/bin
